# Logistic_Regreassion

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [6]:
bank_data= pd.read_csv(r"C:/Users/abc/Desktop/Assignments/Assignment 6/bank-full.csv")
bank_data.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...